/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* variables */
:root {
  --section-gap: 65px;
  --font-color1: rgb(85, 85, 85);
  --font-color2: black;
  --bg-color1: white;
  --decoration-color: rgb(181, 181, 181);
  --border-color: rgb(163, 163, 163);
  --border-color2: rgb(53, 53, 53);
  --color-container: rgb(250, 250, 250);
}

/* changes from button to light theme */

body.dark {
  --bg-color1: black;
  --font-color2: #c3c3c3;
  --color-container: rgb(5, 5, 5);
}

body.dark .section-details__about img,
body.dark article .icon {
  background-color: var(--font-color2);
  border-radius: 50%;
}

body.dark .contact-icon {
  background-color: var(--font-color2);
  border-radius: 50%;
  padding: 5px;
}

body.dark .email-icon {
  background-color: var(--font-color2);
  border-radius: 50%;
}

main,
body {
  background-color: var(--bg-color1);
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--font-color1);
}

a {
  color: var(--font-color2);
  text-decoration: none;
  text-decoration-color: var(--bg-color1);
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--decoration-color);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.desktop-nav__links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 95px;
}

.desktop-nav {
  position: fixed;
  background-color: var(--bg-color1);
  z-index: 1;
  opacity: .7;
  width: 100%;
}

.desktop-nav__links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.desktop-nav__logo,
.hamburger-nav__logo {
  font-size: 2rem;
  color: var(--font-color2);
  display: flex;
  gap: 15px;
}

.desktop-nav__logo:hover,
.hamburger-nav__logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

.hamburger-nav {
  display: none;
  position: fixed;
  width: 100%;
  opacity: .7;
  background: var(--bg-color1);
  z-index: 1;
}

.hamburger-nav__menu-icon {
  position: relative;
  display: inline-block;
}

.hamburger-nav__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-nav__icon span {
  width: 100%;
  height: 2px;
  background-color: var(--font-color2);
  transition: all 0.3 ease-in-out;
}

.hamburger-nav__links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  background: var(--bg-color1);
  border-radius: 10px;
}

.hamburger-nav__links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--font-color2);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.hamburger-nav__links li {
  list-style: none;
}

.hamburger-nav__links.open {
  max-height: 300px;
}

.hamburger-nav__icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-nav__icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-nav__icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-nav__icon span:first-child {
  transform: none;
}

.hamburger-nav__icon span:first-child {
  opacity: 1;
}

.hamburger-nav__icon span:first-child {
  transform: none;
}

.desktop-nav__links li a:hover,
.hamburger-nav__links li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.9rem;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

.profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  position: relative;
  top: var(--section-gap);
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__name {
  font-size: 1.5rem;
  text-align: center;
}

.section__text__position {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: var(--font-color2);
}

.title {
  font-size: 3rem;
  text-align: center;
  color: var(--font-color2);
}

.section__socials {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.section-text p {
  margin-bottom: 15px;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container,
.section__text-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: var(--border-color2) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--font-color2);
  color: var(--bg-color1);
}

.btn-color-1:hover {
  background: var(--font-color2);
}

.btn-color-2 {
  background: var(--bg-color1);
  color: var(--font-color2);
}

.btn-color-2:hover {
  border: var(--bg-color1) 0.1rem solid;
}

.btn-container,
.section__text-btn {
  gap: 1rem;
}

/* ABOUT SECTION */

.about {
  position: relative;
  top: var(--section-gap);
  margin-bottom: 100px;
}

.section-details__about img,
.section-details__about h3,
.section-details__about p {
  margin-bottom: 8px;
  background: var(--bg-color1);
}

.section-details {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details {
  justify-content: center;
  flex-direction: column;
}

.section-details,
.about-details {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.section-details__container {
  padding: 1.5rem;
  flex: 1;
  background: var(--bg-color1);
  color: var(--font-color2);
  border-radius: 2rem;
  border: var(--border-color2) 0.1rem solid;
  border-color: var(--border-color);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.about-description {
  font-size: 1.25rem;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
  top: var(--section-gap);
}

.experience-sub-title {
  color: var(--font-color1);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.section-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  top: var(--section-gap);
}

.color-container {
  border-color: var(--border-color);
  background: var(--color-container);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: var(--font-color2);
}

.project-btn {
  color: var(--font-color2);
  border-color: var(--border-color);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: var(--section-gap);
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: var(--border-color2) 0.1rem solid;
  border-color: var(--border-color);
  background: var(--color-container);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */
footer {
  margin: 0 1rem;
  position: relative;
  top: var(--section-gap);
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

footer p {
  text-align: center;
}

/*
TOGGLE
*/
.toggle {
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 160px;
  background-color: var(--font-color2);
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
              inset 0 8px 8px rgba(0,0,0,0.1),
              inset 0 -4px 4px rgba(0,0,0,0.1);
}

.toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0,0,0,0.5), 
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

.toggle.active .indicator {
  left: 40px
}